.row-labels.table-cell {
	-fx-text-weight: bold;
	-fx-background-color: linear-gradient(to bottom, #ffffff, #dfdfdf);
	-fx-font-weight: bold;
}

.table-column {
	-fx-alignment: CENTER;
}

.invalid-cell {
	-fx-background-color: #F08080;
}

.well-documented-allele {
	-fx-font-style: italic;
}

.unknown-allele {
	-fx-font-style: italic;
	-fx-font-weight: bold;
}

.unknown-haplotype {
	-fx-background-color: #F08080;
}